

.customOverlay {
    background: rgba(232, 247, 255, 0);
    backdrop-filter: blur(5px);
  
  }
  .customModal {
    background: #ffffff;
    margin-top: 250px;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 50px 70px 50px rgba(0, 0, 0, 0.365);
    width: 100%;
  }

  body {
    background-color: #F6F9FE;
  }
  
  @keyframes customEnterAnimation {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(3);
    }
  }
  @keyframes modalFade {
    from {transform: translateY(-50%);opacity: 0;}
    to {transform: translateY(0);opacity: 1;}
  }

  
  /* .containerwow {
    margin-top: 100;
    /* position: absolute; */
    /* height: 1000px;
    width: 600px;
    top: 200px; */
    /* display: flex; */

  
  .card {
    /* display: flex; */
    width: 200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem rgb(145, 145, 145);
  /*   margin-left: -50px; */
    transition: 0.4s ease-in;
    position: relative;
    left: 0px;
  }
  .shadow-pop-tr {
	-webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
  .card:not(:first-child) {
      margin-left: -0px;
  }
  
  .card:hover {
    transform: translateY(-20px), scale(3px);
    transition: 0.7s ease-out;
    margin-right: -50px;


  }
  
  .card:hover ~ .card {
    position: relative;
    transition: 0.4s ease-out;
  }
  
  .card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  }

  .blinking-cursor {
    font-weight: 100;
    font-size: 30px;
    color: #2E3D48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }

  body {
      background-image: url('../assets/bg.svg');
      background-size: cover;
  }
  
  @keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }


  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-webkit-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-ms-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-o-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }

  .typewriter h1 {
    font-family: '-apple-system,system-ui,BlinkMacSystemFont';
    color: #fff;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .0em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret 1s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  .grow { transition: all .2s ease-in-out; }
  .grow:hover { transform: scale(1.1); }
 

  a:hover .myclass {
    transform: scale(1.2);
  }
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-width: 1px; border-color: black;  }
  }
 
  .rainbow {
    background-image: -webkit-gradient( linear, left top, right top,color-stop(0.25, #009dff), color-stop(0.90, #5fe8fc));
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  .box{
    background-image: '../assets/ophone';
  }


  .line-1{
      position: relative;
      top: 50%;  
      width: 24em;
      margin: 0 auto;
      border-right: 2px solid rgba(255,255,255,.75);
      font-size: 180%;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);    
  }
  
  /* Animation */
  .anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }

  